.Youtube {
	figure {
	}
	.content {
		width: 50%;
		h1 {
		}

		article {
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-bottom: 40px;
			transition: 0.3s;

			&:hover {
				transform: scale(1.05);
				background: #dad6d6;
			}
			&:nth-of-type(odd) {
				flex-direction: row-reverse;
			}
			.conBox {
				width: 48%;
				position: relative;

				h2 {
					position: absolute;
					top: 15%;
					font: bold 1.3rem/1 'arial';
				}
				p {
					position: absolute;
					top: 40%;
				}
				span {
					position: absolute;
					top: 80%;
				}
			}
			.picBox {
				width: 48%;
				height: 190px;
				box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
