.Members {
	.wrap {
		width: 100%;
		height: 110vh;
		display: flex;
		border: 1px solid #333;
		table {
			width: 65%;
			border: none;

			th {
				width: 26%;
				border: none;
				border-bottom: 1px solid #bbb;
				padding-bottom: 20px;
				text-align: right;
				font: bold 1rem/1 'Nanum Myeongjo';
				&:last-child {
					text-align: center;
					border: none;
					input[type='submit'],
					input[type='reset'] {
						background: #222;
						color: #efefef;
						width: 150px;
						height: 30px;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						margin-right: 10px;
						cursor: pointer;
					}
				}
			}
			td {
				border: none;
				border-bottom: 1px solid #bbb;
				// border-left: 1px solid #bbb;
				padding: 15px 20px;

				input[type='text'],
				input[type='password'],
				textarea,
				select {
					width: 90%;
					border: 1px solid #aaa;
					padding: 6px 10px;
					// background: #f3ffff;
					resize: none;
				}
				input[type='checkbox'],
				input[type='radio'] {
					margin-right: 20px;
					margin-left: 5px;
				}
				p {
					font: 0.8rem/1.2 '돋움';
					color: hotpink;
					margin-top: 5px;
				}
			}
			.btn {
				border: none;
			}
			.com {
				th,
				td {
					border: none;
				}
			}
		}
		.pic {
			width: 60%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

//tablet mediaquery
.tablet,
.mobile {
	.Members {
		table {
			td {
				input[type='text'],
				input[type='password'],
				textarea,
				select {
					width: 100%;
				}
			}
		}
	}
}

//tablet mediaquery
.mobile {
	.Members {
		table {
			th {
				display: none;
				&:last-child {
					display: block;
					width: 100%;

					input {
						width: 40%;
					}
				}
			}
			td {
				width: 100%;
				border-left: none;
				padding: 20px 0px;

				input[type='text'],
				input[type='password'],
				textarea,
				select {
					width: 100%;
				}
			}
		}
	}
}
